h1 {
  color:  green;
}
.square {width: 50%;
  height: 300px;
}
p {
  color: lightgreen;

}


#red { background-color: red;

}
#blue { background-color: skyblue;

}
#orange { background-color: orange;

}
#purple { background-color: purple;

}
