body {
  background-color: maroon;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  image-orientation: right;

}
a {
  text-decoration: none;
}



.sidebar {
  background-color: grey;

    width: 250px;
    padding: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}


.site-logo {
  background-color: transparent;
    width: 150px;
    height: 150px;
    border-radius: 100px;

    margin: 20px auto 50px;
}
.site-logo:hover {
  background-color: #999;
}
.site-logo #logo {
  width: 140px;
  height: 140px;
    margin: 5px;
}

.main-content {
  border-color: inherit;
    margin-left: 300px;
  padding: 50px;

}

/
banner img {
  width: 100%;
  height: 20%;
  margin-left: 300px

}

.site-navigation {
color: maroon;

}
